body {
  background-color: rgb(236, 239, 244);
}

.App {
  text-align: center;
}

.nav {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 20px;
  padding: 15px 20px;
}

.nav:hover {
  transition: 1s;
  background: white;
  color: #252525;
}

.nav:not(:hover) {
  transition: 1s;
}

.nav-container {
  background: #252525;
  display: flex;
  justify-content: center;
}
