.container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.pokemon {
  border: 2px solid #252525;
  border-radius: 2%;
  width: 400px;
  margin: 10px auto;
  display: flex;
  text-align: center;
  background-color: #252525;
}

.props {
  margin-left: 70px;
  margin-right: 50px;
}

p {
  color: white;
  margin-left: 30px;
  margin-bottom: 20px;
  font-size: 20px;
  line-height: 4px;
}
