@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,700;1,400;1,700&display=swap");

/* ESTILOS GERAIS */

* {
  padding: 0px;
  margin: 0px;
  font-family: "Ubuntu", sans-serif;
  list-style-type: none;
}

img {
  max-width: 100%;
}

.stomo-name {
  color: #a477a0;
}

/* HEADER - NAV MENU */

.header {
  background-color: #018b9c;
}

.header h1 {
  text-align: center;
  font-size: 36px;
  padding-top: 20px;
  color: #ffffff;
}

.title-edit {
  font-size: 24px;
  display: block;
  padding-top: 5px;
}

.header-container {
  max-width: 960px;
  margin: 0 auto;
}

.header-container ul {
  text-align: center;
  list-style-type: none;
}

.header-container li {
  display: inline-block;
}

.header-container a {
  display: inline-block;
  margin: 0 auto;
  padding: 20px 30px 20px 30px;
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 549;
}

.header-container a:hover {
  color: #a477a0;
  transition: 0.5s;
}

/* ARTICLE */

article {
  background-color: #cecbff;
}

.section-container {
  max-width: 960px;
  margin: 0 auto;
}

/* CONTAINER 1 */

.container-1 {
  display: flex;
  padding-top: 30px;
}

.stomo-intro {
  padding: 10px 0;
  max-width: 600px;
}

.stomo-intro h2 {
  color: #a477a0;
  padding: 10px 0;
  font-size: 28px;
}

.stomo-intro p {
  font-size: 18px;
  line-height: 24px;
}

.ficha-stomo {
  width: 900px;
  padding: 10px 20px 10px 90px;
  font-size: 18px;
  line-height: 24px;
}

.ficha-stomo h3 {
  color: #a477a0;
  padding: 10px 0;
  font-size: 23px;
}

.list-stomo {
  color: #018b9c;
}

/* CONTAINER 2 */

.container-2 {
  padding: 10px 0;
  display: flex;
}

#explosion-color {
  padding-top: 30px;
  color: #a477a0;
  font-size: 28px;
}

.container-2 p {
  font-size: 18px;
  line-height: 24px;
  width: 600px;
}

.container-2-img img {
  max-width: 80%;
  padding-left: 80px;
}

#explosioncolor-p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 35px;
}

/* CONTAINER 3 */

.container-3 {
  display: flex;
}

.container-3-img img {
  max-width: 80%;
  padding-left: 75px;
}

#container-3-h2 {
  color: #a477a0;
  padding: 10px 0;
  font-size: 28px;
}

#container-3-p {
  font-size: 18px;
  line-height: 24px;
  padding: 10px 0;
}

.container-3 h2 {
  color: #a477a0;
  font-size: 28px;
}

.container-3 p {
  font-size: 18px;
  line-height: 24px;
  width: 700px;
}

/* CONTAINER 4 */

.container-4 {
  display: flex;
}

.container-4-img img {
  max-width: 85%;
  padding: 10px 0;
}

#container-4-h2 {
  color: #a477a0;
  padding: 10px 0;
  font-size: 28px;
}

.container-4 h2 {
  color: #a477a0;
  font-size: 28px;
}

.container-4 p {
  font-size: 18px;
  line-height: 24px;
  width: 700px;
  padding-top: 5px;
  padding-right: 15px;
}

/* REFERENCIA BIBLIOGRAFICAS */

.references {
  max-width: 960px;
  margin: 0 auto;
  padding: 40px 0;
}

.references h3 {
  text-align: center;
}

.references ul {
  text-align: center;
  padding-right: 30px;
}

.references ul li {
  display: inline-block;
  padding: 20px 0 0 50px;
}

.references a {
  color: #018b9c;
  text-decoration: none;
}

.references a:hover {
  color: #a477a0;
  transition: 0.5s;
}

/* FOOTER */

footer {
  background-color: #018b9c;
}

.footer-container {
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}

footer h3 {
  padding: 30px 0;
}

.footer-container a {
  text-decoration: none;
  color: #551a8b;
}

.footer-container a:hover {
  color: #ffffff;
  transition: 1s;
}
