.super-mario {
  width: 200px;
  position: absolute;
  z-index: 2;
}

.goomba {
  width: 200px;
  position: absolute;
  z-index: 1;
  top: 360px;
}

.word {
  position: absolute;
  z-index: 3;
  left: 270px;
  top: 105px;
}

.bowser {
  position: absolute;
  width: 200px;
  left: 450px;
}

.baloon {
  position: absolute;
  left: 260px;
  width: 190px;
}
