/*
 - (Bônus) Para cada link na lista de aliados da pessoa desenvolvedora, faça com que ao passar o mouse sobre cada um, o texto fique em negrito e assuma a cor de fonte "temática do site"
  Dica 1: Utilize o seletor :hover para controlar o passar do mouse.
  Dica 2: Sugestão de cores padrão. StackOverflow (laranja), W3Schools (verde), MDN (preta), DevDocs (amarela), Trybe (verde).

*/

li:nth-child(1) > a:hover {
  color: orange;
}

li:nth-child(2) > a:hover {
  color: green;
}

li:nth-child(3) > a:hover {
  color: black;
}

li:nth-child(4) > a:hover {
  color: yellow;
}

li:nth-child(5) > a:hover {
  color: green;
}

ul > li > a:hover {
  font-style: italic;
}

ul > li:nth-child(-n + 3) {
  color: blue;
}

ul li:nth-child(2),
ul li:nth-child(3) {
  color: pink;
}

li > em {
  font-weight: 600;
}

li {
  font-size: 20px;
}

h1,
h2 > em {
  font-size: 40px;
  border: 1px solid black;
}

h1,
h2 {
  color: red;
}

ol > li {
  background-color: yellow;
}

li:nth-child(even) {
  color: green;
}

ol > li:nth-child(odd) {
  text-transform: uppercase;
}
